# SPDX-License-Identifier: GPL-3.0-or-later
# Portabilité de l'environnement Docker : aligne l'utilisateur du conteneur sur ton hôte
# pour que les fichiers du bind-mount t'appartiennent. Copie ce fichier en `.env` :
#   cp .env.example .env
# puis, au besoin :  UID=$(id -u)  GID=$(id -g)
UID=1000
GID=1000
