# Dépendances
node_modules/

# Build front
dist/
.svelte-kit/
.vite/

# Sortie build Docker (prod)
/artifacts/*
!/artifacts/.gitkeep

# Tauri / Rust
src-tauri/target/
src-tauri/gen/

# Env & secrets
.env
.env.*
!.env.example

# OS / éditeurs
.DS_Store
Thumbs.db
*.log
